@import url("https://use.typekit.net/cdj2qpz.css");

body {
	margin: 0;
	padding: 0;
	font-family: "gira-sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'mighty-slab', serif;
	font-size: 36px;
	font-weight: normal;
	margin: 0;
}

.intro {
	display: grid;
	grid-template-areas:
	"a b b b b b b"
	"a c c c c c c";
}

.intro > * {
	padding: 10px 20px;
}

.intro h1 {
	font-size: 54px;
}

[role="banner"] {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	grid-area: a;
	background: #fc8383;
}

.summary {
	grid-area: b;
	background: #ab9ce2;
}

.preamble {
	grid-area: c;
	background: #9fc3b2;
}

#zen-supporting {
	display: grid;
	grid-template-areas:
		". a a b b footer"
		". c c d d footer";
}

#zen-supporting > * {
	padding: 10px 20px;
}

#zen-supporting .explanation {
	grid-area: a;
}

#zen-supporting .participation {
	grid-area: b;
}

#zen-supporting .benefits {
	grid-area: c;
}

#zen-supporting .requirements {
	grid-area: d;
}

#zen-supporting footer {
	grid-area: footer;
}

#zen-supporting footer a {
	color: #000;
}

.sidebar .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.sidebar ul {
	list-style: none;
	padding-left: 0;
	line-height: 2;
}

.sidebar a {
	color: #000;
}

.design-selection {
	background-color: #ffe0a8;
	padding: 1em;
}

.design-archives {
	background-color: #82dbfc;
	padding: 1em;
}

.zen-resources {
	background-color: #caa0ff;
	padding: 1em;
}

#css-zen-garden {
	display: flex;
	flex-direction: column;
}

@media (max-width: 747px) {
	h1, h2, h3, h4, h5, h6 {
		font-size: 36px;
	}

	.intro {
		grid-template-areas:
		"a"
		"b"
		"c";
	}

	#zen-supporting {
		grid-template-areas:
		"a"
		"b"
		"c"
		"d"
		"footer";
	}

	#zen-supporting footer {
		display: flex;
		flex-direction: row;
	}

	#zen-supporting footer a {
		margin-right: 10px;
	}

	#zen-supporting footer a:first-child {
		margin-left: auto;
	}

	.sidebar .wrapper {
		display: block;
	}
}

@media (min-width: 747px) {
	#zen-supporting footer {
		display: flex;
		flex-direction: column;
		padding: 0 1em 0 0;
	}

	#zen-supporting footer a {
		line-height: 2;
		transform: rotate(90deg);
		margin-top: 4em;
	}
}
